

/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff; font-size: 13px; color: #666666; font-family: Arial, helvetica, sans-serif;}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}  
a, img { outline: none; border:none; color: #000; font-weight: bold; text-transform: uppercase;}
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}
img { display: block; margin-bottom: 10px;}
aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
  }

/* Structure */
#wrapper {
  width: 99%; 
  max-width: 1220px;
  margin: auto;
  padding: 2%;
  } 
  #main {
    width: 60%;
    margin-right: 5%;
    float: left;
    }   



/* Logo H1 */
header h1 {
  height: 70px;
  width: 160px;
  float: left;
  display: block;
  color:black;
  /*background: url(../images/demo.gif) 0 0 no-repeat;*/
  /*text-indent: -9999px;*/
  }

/* Nav */
header nav {
  float: right;
  margin-top: 40px; 
  }

  header nav li {
    display: inline;
    margin-left: 15px;
    }

#skipTo {
  display: none;
  }
  #skipTo li {
    background: #b1fffc;
    }

/* Banner */      
#banner {
  float: left;
  margin-bottom: 15px;
  width: 100%;
  }

  #banner img {
    width: 100%;
    }


/* Media Queries */
@media screen and (max-width: 480px) {

  #skipTo {
    display: block;
    }

  header nav, #main, aside {
    float: left;
    clear: left;
    margin: 0 0 10px; 
    width: 100%;
    } 
    header nav li {
      margin: 0;
      background: #efefef;
      display: block;
      margin-bottom: 3px;
      }
      header nav a {
        display: block;
        padding: 10px;
        text-align: center;
        }     
}

/*Slidersidebar*/

  aside {
    width: 40%;
    min-height:960px;
    float: left;
    background-color:gray;
    }

  #toggleaside {
    width: 5%;
    min-height:960px;
    float: left;
    background-color:gray;
    opacity:.7;
  }

  #friendlycircle {
    
  }



 div.panel, div.slider_head
{
   margin:0px;
   text-align:center;
   background:#e5eecc;
   border:solid 1px #c3c3c3;
}
div.panel
{
   height:auto;
   display:none;
}
#panel_1 {background:pink;}
#panel_2 {background:yellow;}



   /* Expand retract sidebar*/
   .open-close {
    background-color:red;
    color:white;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 6px solid;
  margin: 0 auto;
  position: relative;  
  transition: 0.5s ;  

  &:before {
    content: "x";
    display: block;
    width: 6%;
    height: 80%;

    position: absolute;
    top: 10%;
    left: 47%;
  }
  
  &:after {
    content: "";
    display: block;
    width: 80%;
    height: 6%;
   
    position: absolute;
    bottom: 47%;
    left: 10%;
  }
  
}

.open {
  border: 6px solid red;

  transform: rotate(225deg);
  &:before, &:after 
  }background: red;
}

/*---------------------Box----------------------------------*/


.box {
  width: 20%;
  height: 0px;
  background: red;
  margin: 0 auto;
  margin-top: 2%;
  transition: height 0.5s 0.5s, width 0.5s 1s, color 0.5s 1s, font-size 0.5s 1s;
  overflow: hidden;
  text-align: center;
  line-height: 150px;
  font-size: 3em;
  font-family: Impact, sans-serif;
  color: transparent;
  white-space: nowrap;
}
.no + .box {
  transition: width 0.5s, color 0.5s, font-size 0.5s, height 0.5s 0.5s;
}
.open + .box {
  height: 200px;
  width: 60%;
  color: $color;
  font-size: 7em;
}
/*----------------Text Blocks---------------------------------*/

.text, .text2 {
  width: 20%;
  line-height: 1.7em;
  font-size: 0.8em;
  color: $contrast;
  position: absolute;
  top: 420px;
  transition: 0.5s 1.5s;
}
.text {
  left: -20%;
}

.text2 {
  right: -20%;
  text-align: right;
}

.open ~ .text {
  left: 20%;
}
.open ~ .text2 {
  right: 20%;
}

.no ~ .text, .no ~ .text2 {
  transition: 0.5s;
}


/*sidebar ends*/